/*General Styling */

* {
  box-sizing: border-box;
}



.header {
  background-color: rgb(158, 158, 218) ;
  color: white;

}

.icon-bell::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  top: -0.4rem;
  right: 0;
  background: green;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  background: whitesmoke;
  top: 3rem;
  right: -1.5rem;
  border: 4px solid purple;
  border-radius: 6px;
  height: 200px;
  overflow: scroll;
}

.dropdown-container {
  color: purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 350px;
  padding: 1rem;
  border-bottom: 2px solid grey;
}

.dropdown-container p {
  font-size: 0.8rem;
}

.dropdown-container:last-of-type {
  border-bottom: 0;
}

.dropdown-pic {
  margin-right: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.icon-dot {
  background-color: limegreen;
  border-radius: 360px;
  height: 5px;
  width: 5px;
}

.icon-bell {
  transition: transform .5s;
}

.icon-bell:hover {
  transform: scale(1.2);
}

.navigation {
  background-color: rgb(68, 68, 128);
  padding: 10px;

}

#traffic-chart, #daily-chart, #mobile-chart {
  width: 100%;
}

.alert-banner-close {
  padding-left: 10px;
  padding-right: 10px;
}

.members, .activity {
  text-align: center;
}


h3 {
  text-align: left;
}


.button-primary-1 {
  background: rgb(158, 158, 218);
  color: white;
  width: 90vw;
  height: 40px;
  margin: 10px;
}

.form-field {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
}

.form-area {
  margin-left: 10px;
  margin-right: 10px;
  height: 150px;
}

#traffic-chart, #daily-chart, #mobile-chart {
  border-bottom: 1px solid lightgray;

}

input {
  font-size: 17px;
}

.facebook-container, .instagram-container, .twitter-container {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 7px;
}

.item-p {
  margin: 0 0;
}

.autocomplete ul {
  display: block;
  flex-direction: column;
  padding: 0;
  margin-left: 10px;
}

.autocomplete li {
  margin-bottom: 0.5rem;
  list-style: none;
  padding-bottom: 0.5rem;
}



/* Fonts */
h3, h4, .headline {
  font-family: 'Lato', sans-serif;
  font-size: 1.0rem;
}

.headline {
  font-size: 1.3rem;
}

.traffic-nav li {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

.alert-banner {
  font-size: 1.1rem;
}

p {
  font-family: 'Saira Extra Condensed', sans-serif;
}

/*SVG*/
.graphics {
  width: 25px;
}

.graphics-nav {
  width: 30px;
}

.social-image {
  width: 60px;
}

.img-header {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.img-plot {
  width: 300px;
  height: 200px;
}

.img-main {
  width: 60px;
  border-radius: 50%;

}

.graphics, .graphics-nav {
  fill: white;
}

.social-image {
  fill: white;
  stroke: rgb(158, 158, 218);
}


.social-label {
  color: rgb(158, 158, 218);
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 0;
}

.social-number {
  font-size: 2.5rem;
  color: grey;
  margin-top: 0;
  margin-bottom: 10px;
}




/* Grid layout*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
  "header"
  "navigation"
  "main";
  }

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
}

/* GRID FlexBox */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    column-gap: 15px;
  }
  .item-1 {
    margin-right: auto;
    margin-left: 10px;
    text-align: left;
  }
  .item-4 {
    margin-right: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 25px;
    margin-right: 10px;
  }
}

.traffic-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 1rem;
}

.traffic-nav-label {
  cursor: pointer;
  padding: 3px;
}

.radio {
  display: none;
}

.radio:checked + .traffic-nav-label {
  background: rgb(171, 211, 171);
  color: white;
  border-radius: 25px;
}



.alert-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  background-color: rgb(158, 158, 218);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.alert-item {
  margin-right: auto;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
}

input {
  height: 59.5px;
  border: 1px solid lightgray;
  border-right: 1px solid whitesmoke;
  background-color: hsl(0, 17%, 98%);
  border-radius: 5px;
}

::placeholder {
  text-align: left;
  font-size: .9rem;
  padding-left: 5px;
  color: lightgray;
}

textarea {
  background-color: hsl(0, 17%, 98%);
  border-radius: 5px;
  border: 1px solid lightgray;
}


.dash {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .dash-2 {
    flex-grow: 6;
  }
  .search-1 {
    width: 590px;
  } 
}

@media (min-width: 1024px) {
  .dash-2 {
    flex-grow: 9;
  }
  .search-1 {
    width: 848px;
  } 
}

@media (min-width: 768px) {
  .traffic-header {
    display: flex;
    flex-direction: row;
  }
  .traffic {
    flex-grow: 1;
  }
  .traffic-nav {
    column-gap: 30px;
  }
}


.social-container-flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .social-container-flex {
    flex-direction: row;
  }
}

.facebook-container, .instagram-container, .twitter-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

@media (min-width: 768px) {
  .facebook-container, .instagram-container, .twitter-container {
    flex-grow: 1;
  }
}


/*
.members {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
*/

@media (min-width: 768px) {
  .members-container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .members-text {
    margin-right: auto;
  }

}

.activity, .members {
  margin-right: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px;
}


.switch-ios.switch-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-ios.switch-light p {
  flex-basis: 210px;
}

.switch-ios.switch-light > span {
  flex-basis: 115px;
}

.form-field {
  width: 90vw;
  text-align: center;
}

.button-primary-2 {
  width: 42.5vw;
  height: 40px;
  text-align: center;
  background: rgb(158, 158, 218);
  color: white;
  margin: 10px;
}

.button-disabled {
  width: 42.5vw;
  height: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .button-primary-2, .button-disabled {
    width: 44vw;
  }
}

@media (min-width: 1024px) {
  .form-field, .button-primary-1 {
    width: 45vw;
  }
  .button-primary-2, .button-disabled {
    width: 21vw;
  }
}

.switch-ios {
  margin-left: 15px;
}

.settings-text {
  margin-left: 15px;
}

@media (min-width: 1024px) {
  .toggles {
    margin-bottom: 42px;
  }
  .switch-ios {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.alert-banner {
  height: 40px;
  margin-right: 10px;
}


/* Media queries*/

@media (min-width: 768px) {
  .grid-container {
  grid-template-columns: 55px 1fr;
  grid-template-areas:
  "header header"
  "navigation main";
   }
 }


.main {
  display: grid;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 50% ;
  }
}

@media (min-width: 768px) {
  .traffic, .social, .main-header, .alert, .members, .activity, .message, .settings {
    grid-column: 1 / span 2;
  }
  .social-container-flex {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .daily {
    grid-column: 1 / span 1;
  }
}

@media (min-width: 768px) {
  .mobile {
    grid-column: 2 / span 1;
  }
}


@media (min-width: 1024px) {
  .traffic, .social, .main-header, .alert {
    grid-column: 1 / span 2;
  }
  .social-container-flex {
    justify-content: space-around;
  }
}


@media (min-width: 1024px) {
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }
}

@media (min-width: 1024px) {
  .mobile, .activity, .settings {
    grid-column: 2 / span 1;
  }
}




.widget-container-full, .widget-container-half {
  width: 95vw;
}


@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;  
  }
}
